* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/*? HEADER + NAVBAR */

.container-header{
    display: flex;
    justify-content: space-around;
    margin-top: 1.2rem;
}
#main-logo{
    max-width: 100px;
    max-height: 100px;
}

.nav-bar{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-bar li{
    padding-right: 1rem;
}
.nav-bar li a{
    text-decoration: none;
    color: black;
}

/*  */